.panel-body{
  height: 200px;
}

#player1-area{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  width: 200px;
  font-size: 50px;
  text-align: center;

}
#player2-area{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  width: 200px;
  font-size: 50px;
  text-align: center;

}
#roll-area{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
  width: 100px;
  font-size: 50px;
  text-align: center;

}
h1{
  text-align: center;
}

h4{
  text-align: center;
}
#pig-dice {
  display: none;
}
.player-names {
  text-align: center;

}
#username1 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
#username2 {
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
#image1{
  width:100%;
  margin-left: auto;
  margin-right: auto;

}
.levels{
display: none;
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
.current-player{
  display: none;
}
